<button 
  type="<%= typeof type !== 'undefined' ? type : 'button' %>"
  class="<%= typeof className !== 'undefined' ? className : '' %>">
  <%= typeof children !== 'undefined' ? children : '' %>
</button>